---
import { AstroSeo } from "@astrolib/seo";
// Assets
import Logo from "@/components/assets/Logo.astro";
// Foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/ui/button/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { siteConfig } from "@/config/site";

const canonical = `${siteConfig.url}${Astro.url.pathname || "/"}`;
---

<AstroSeo
  title={`404 | ${siteConfig.name}`}
  description="Page not found."
  canonical={canonical}
  noindex={true}
  nofollow={true}
  openGraph={{
    url: canonical,
    title: `404 | ${siteConfig.name}`,
    description: "Page not found.",
    site_name: siteConfig.name,
    type: "website",
    locale: "en_US",
    images: [
      {
        url: siteConfig.ogImage,
        width: 1200,
        height: 630,
        alt: `${siteConfig.name} Open Graph image`,
        type: "image/jpeg",
      },
    ],
  }}
  twitter={{
    cardType: "summary_large_image",
    site: siteConfig.author.twitter,
    handle: siteConfig.author.twitter,
  }}
/>
<BaseLayout showNavigation={false} showFooter={false}>
  <section>
    <Wrapper
      class="standard"
      class="py-12 h-screen flex flex-col justify-center"
    >
      <div class="max-w-sm text-center mx-auto text-balance">
        <Logo class="size-12 lg:size-20 mx-auto" />
        <Text
          tag="h1"
          variant="textLG"
          class="font-medium tracking-tight mt-12"
        >
          Page not found
          <Text tag="p" variant="textSM" class="text-muted-foreground mt-4">
            The page you're looking for doesn't exist or has been moved.
          </Text>

          <div class="flex items-center gap-2.5 mt-12 justify-center">
            <Button href="/" size="default">Go Home</Button>
            <Button href="/docs" variant="outline" size="default">
              Browse Docs
            </Button>
          </div>
        </Text>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
